.navbar-brand {
    padding: 5px 20.5px;
}

.navbar-brand img{
	max-height: 60px;
}

.task-list .hover-content{
	max-height: 230px;
}

.task-list .top-part{
	height: 100%
}

.blue-i.sm{
    text-align: center;
    line-height: 50px !important;
    height: 50px;
    width: 50px;
    background: #3c948b;
    color: #ffffff;
    font-size: 20px !important;
 }

strong{
 	font-weight: 500;
 }

 .section-xsm{
 	padding: 10px;
 }

 .task-list img{
 	width: 100%;
 }

  .task-list .img-bx{
  	max-height: 200px;
  	overflow: hidden;
  }

  .task-list{
  	margin-bottom: 20px;
  }

  img.users{
  		width: 100px;
  		border-radius: 100%;
  }

  img.user-img{
  		width: 100px;
  		border-radius: 100%;
  		margin: 0 auto;
  }

  .task-top img{
  		width: 100px;
  		border-radius: 100%;
  }

  .m-no-bottom{
  	margin-bottom: 0px!important;
  }

  .pad-m{
  	padding: 20px;
  }

  .user-list{
  	padding-top: 20px;
  	padding-bottom: 20px;
  	margin-bottom: 20px;
  }
  .user-list .left .img-bx{
   	max-height: 200px;
  	overflow: hidden;

  }

  .user-list .left .img-bx img{
  	width: 100%;
  }

  .testi .left{

    float: left;
    margin-right: 20px;

}

	.testi .left img{
	      width: 75px;
	       border-radius: 100%;
	}

	.testi{
		margin: 0px;
	    margin-bottom: 10px;
	    padding: 10px;
	    background-color: #F2F5F7;
	    border-radius: 2px;
	}

	.user-list .right h3 span{
		padding: 10px;
		font-size: 15px;
		font-weight: bold;
		border-radius: 2px;
	}

	.cnfrm-detail span{
		padding: 10px;
		font-size: 15px;
		font-weight: bold;
		border-radius: 2px;
		line-height: 35px;
	}

	.cnfrm-detail img{
		width: 200px;
		border-radius: 100%;
	}

	.bg-white{
		background-color: #fff!important;
	}

	.modal{
		z-index: 9999;
	}
   
   	.modal-content{
   		border-radius: 0px;
   	}

   	.modal-header{
   		background-color: #3c948b;
   		color: #fff;
   	}

   	ul.nav.navbar-nav.navbar-right{
   		margin-top: 10px;
   	}

   	.bg-home{
   		background-image: url(../img/home.jpg);
   	}

   	.bg-become{
   		background-image: url(../img/become.jpg);
   	}

   	.bg-how{
   		background-image: url(../img/how.jpg);
   	}

   	.how-work .hovicon{
   		width: 50px!important;
   		height: 50px!important;
   	}
   	.how-work .hovicon:before {
    speak: none;
    font-size: 20px !important;
    line-height: 50px!important;
	}

	.home-price .val{
		font-size: 20px;
	}

	.inline-tabs li.dropdown{
		padding: 0px;
		border:0px;
	}

	.inline-tabs li.dropdown .btn{
		padding: 15.5px 30px;
    border-radius: 0px;
    position: relative;
    top: -1px;
	}


	.align.dropdown-menu {
    position: absolute;
    top: 100%;
    left: auto;
    right: 0;
	}

@media (min-width: 767px) {

  .r-p-no-left{
  	padding-left: 0px;
  }

  .task-list .btm{
  	padding-top: 15px;
  }

 }

 @media (max-width: 767px) {
  .task-list .r-p-no-left{
  	padding: 0px;
  }
   .task-list .btm{
  		padding: 20px;
  }
  .user-list .left{
  	padding-bottom: 20px;
  }
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.chat{
  max-width: 700px;
  margin: 20px auto;
  border: 1px solid #265e58;
    border-bottom: 1px solid #265e58;
}
.chat h3{
  margin: 0px;
  padding: 8px 15px;
    border-bottom: 1px solid #265e58;
    background-color: #3c948b;
    color: #fff;
    text-align: center;
  font-size: 16px;
  line-height: 25px;
  font-weight: 600;
}
.chat-outer{
  padding: 30px;
}
.arrow_box {
  position: relative;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px 12px;
}
.arrow_box:after, .arrow_box:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.left .arrow_box:after, .left .arrow_box:before {
  left: 150px;
}
.right .arrow_box:after, .right .arrow_box:before {
  right: 150px;
}

.arrow_box:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #fff;
  border-width: 0px;
  margin-left: 0px;
}
.arrow_box:before {
  border-color: rgba(170, 170, 170, 0);
  border-top-color: #aaa;
  border-width: 8px;
    margin-left: -10px;
}
.user-info{
  margin-top: 18px;
}
.user-info img{
  width: 40px;
  border-radius: 100%;
  display: inline-block;
  border: 2px solid #265e58;
}
.user-info h5{
  display: inline-block;
  margin: 0px;
  color: #265e58;
}
.left .user-info{
  margin-left: 150px;
}
.right .user-info{
  margin-right: 150px;
}
hr{
  border-bottom: 1px solid #265e58;
}
.chat-textarea .btn-default{
  background-color: #3c948b;
  border: 0px;
  color: #fff;
}
.chat-textarea .btn-default:hover{
  background-color: #265e58;
}