.chat{
	max-width: 700px;
	margin: 20px auto;
	border: 1px solid #265e58;
    border-bottom: 1px solid #265e58;
}
.chat h3{
	margin: 0px;
	padding: 8px 15px;
    border-bottom: 1px solid #265e58;
    background-color: #3c948b;
    color: #fff;
    text-align: center;
	font-size: 16px;
	line-height: 25px;
	font-weight: 600;
}
.chat-outer{
	padding: 30px;
}
.arrow_box {
	position: relative;
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 10px 12px;
}
.arrow_box:after, .arrow_box:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.left .arrow_box:after, .left .arrow_box:before {
	left: 150px;
}
.right .arrow_box:after, .right .arrow_box:before {
	right: 150px;
}

.arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #fff;
	border-width: 0px;
	margin-left: 0px;
}
.arrow_box:before {
	border-color: rgba(170, 170, 170, 0);
	border-top-color: #aaa;
	border-width: 8px;
    margin-left: -10px;
}
.user-info{
	margin-top: 18px;
}
.user-info img{
	width: 40px;
	border-radius: 100%;
	display: inline-block;
	border: 2px solid #265e58;
}
.user-info h5{
	display: inline-block;
	margin: 0px;
	color: #265e58;
}
.left .user-info{
	margin-left: 150px;
}
.right .user-info{
	margin-right: 150px;
}
hr{
	border-bottom: 1px solid #265e58;
}
.chat-textarea .btn-default{
	background-color: #3c948b;
	border: 0px;
	color: #fff;
}
.chat-textarea .btn-default:hover{
	background-color: #265e58;
}