/********************************************

Font Families

********************************************/

@import url(http://fonts.googleapis.com/css?family=Comfortaa:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900);

@font-face{
	font-family:'Omnes-Semibold';
	src:url('../fonts/omnes.eot');
	src:url('../fonts/omnes.eot?#iefix') format("embedded-opentype"),
		url('../fonts/omnes.woff') format("woff"),
		url('../fonts/omnes.ttf') format("truetype"),
		url('../fonts/omnes.svg') format("svg");
	font-weight:bold;
	font-style:normal;
}

@font-face {
	font-family: 'FontAwesome';
	src: url('../fonts/fontawesome-webfont.eot?v=4.0.3');
	src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), 
		 url('../fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), 
		 url('../fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), 
		 url('../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'neosans';
    src: url('../fonts/neosans-light-webfont.eot');
    src: url('../fonts/neosans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/neosans-light-webfont.woff') format('woff'),
         url('../fonts/neosans-light-webfont.ttf') format('truetype'),
         url('../fonts/neosans-light-webfont.svg#neosansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, 
blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, 
img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, 
caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, 
figure, footer, header, hgroup, nav, section {
	font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}

/********************************************

Fontawsome Icon

********************************************/

.fa {
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #999;
}

.fa-lg {
	font-size: 1.3333333333333333em;
	line-height: 0.75em;
	vertical-align: -15%;
}

.fa-2x {
	font-size: 2em;
}

.fa-3x {
	font-size: 3em;
}

.fa-4x {
	font-size: 4em;
}

.fa-5x {
	font-size: 5em;
}

.fa-fw {
	width: 1.2857142857142858em;
	text-align: center;
}

.fa-ul {
	padding-left: 0;
	margin-left: 2.142857142857143em;
	list-style-type: none;
}

.fa-ul > li {
	position: relative;
}

.fa-li {
	position: absolute;
	left: -2.142857142857143em;
	width: 2.142857142857143em;
	top: 0.14285714285714285em;
	text-align: center;
}

.fa-li.fa-lg {
	left: -1.8571428571428572em;
}

.fa-border {
	padding: .2em .25em .15em;
	border: solid 0.08em #eeeeee;
	border-radius: .1em;
}

.fa.pull-left {
	margin-right: .3em;
}

.fa.pull-right {
	margin-left: .3em;
}

.fa-envelope-o:before {
  content: "\f003";
}

.fa-key:before {
  content: "\f084";
}

.fa-user:before {
	content: "\f007";
}

.fa-envelope:before {
	content: "\f0e0";
}

.fa-map-marker:before {
	content: "\f041";
}

.fa-list:before {
	content: "\f03a";
}

.fa-chevron-down:before {
	content: "\f078";
}

.fa-chevron-up:before {
	content: "\f077";
}

.fa-calendar-o:before {
	content: "\f133";
}

.fa-clock-o:before {
	content: "\f017";
}

.fa-bolt:before {
	content: "\f0e7";
}

.fa-facebook-square:before {
	content: "\f082";
}

.fa-hdd-o:before {
	content: '\f0a0';
}

.fa-plus:before {
	content: "\f067";
}

.fa-calendar:before {
	content: "\f073";
}

.fa-dollar:before, .fa-usd:before {
	content: "\f155";
}

.fa-legal:before, .fa-gavel:before {
	content: "\f0e3";
}

.fa-eye:before {
	content: "\f06e";
}

/********************************************

Disable Responsive

********************************************/

.container {
	width: 1170px !important;
}

/********************************************

Default Styles

********************************************/

.col-centered{
    float: none;
    margin: 0 auto;
}

.marg5 {
	margin-top: 5px !important;
}

.noMargin {
	margin: 0 !important;
}

.margb0 {
	margin-bottom: 0 !important;
}

.margt15 {
	margin-top: 15px !important;
}

.paddl0 {
	padding-left: 0;
}

.paddb25 {
	padding-bottom: 25px !important;
}

* ::selection{
	color: #FFF;
	background: #e26d41;
}

* {
	outline: none !important;
}

/********************************************

Buttons

********************************************/

.btn-naked {
	font-family: 'neosans';
	color: #919191 !important;
	font-size: 16px;
	background: #FFF;
	border: 1px solid #d4dadd;
	border-radius: 3px;
}

/********************************************

Dashboard Navigation Bar

********************************************/

.navbar {
	background: #008b83;
	min-height: 61px;
}

.navbar-brand {
	height: 61px;
	padding: 8px 15px;
}

.navbar a {
	color: #FFF;
	font-size: 16px;
}

.navbar-toggle .icon-bar {
	background: #FFF;
}

.nav>li>a:hover, .nav>li>a:focus {
	background: none;
}

.navbar-nav > li > a {
	padding: 2px;
	line-height: 27px;
}

.navbar-nav li.dropdown a, .nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
	background: #F7F7F7;
	color: #555;
}

.user_manage a {
	width: 75px;
	border-radius: 16px;
	-webkit-transition: all ease-out 300ms;
    -moz-transition: all ease-out 300ms;
    -o-transition: all ease-out 300ms;
    transition: all ease-out 300ms;
}

.user_manage .caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 15px;
	vertical-align: middle;
	border-top: 8px solid #008b83;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
}

.user_manage.open a {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.navbar-nav>li.user_manage>.dropdown-menu {
	border: 0;
	border-radius: 8px;
	border-top-right-radius: 0;
	width: 180px;
	background: #F7F7F7;
	-webkit-box-shadow: 0 2px 6px rgba(0,0,0,.175);
	box-shadow: 0 2px 6px rgba(0,0,0,.175);
}

.navbar-nav>li.user_manage>.dropdown-menu li {
	margin: 3px 0;
}

.navbar-nav>li.user_manage>.dropdown-menu li.seperator {
	margin: 0 20px;
	height: 1px;
	background: #ccc;
}

/********************************************

Dashboard Content Blocks

********************************************/

.contentBlock {
	text-align: center;
}

.container h2 {
	margin-bottom: 40px;
	color: #028cba;
	text-align: center;
	font-family: "Omnes-Semibold",Helvetica,Arial,sans-serif;
}

#content {
	padding-bottom: 100px;
}

.coloredTiles .col-md-4 {
	padding: 30px 0px;
	/*margin-bottom: 10px;*/
}

.coloredBlock .col-md-4 {
	background: #D4F6FD !important;
}

.asDivider {
	margin: 50px 0 20px;
}

/********************************************

Dashboard Footer

********************************************/

#footer > .row {
	background: url('../image/footer_bg.png') repeat-x;
	padding: 30px 0;
}

#footer .linksHeading {
	text-transform: uppercase;
	color: #008b83;
	margin-bottom: 0;
	font-size: 14px;
}

#footer ul {
	padding-left: 0;
}

#footer li {
	list-style: none;
	padding-bottom: 3px;
}

#footer li a {
	font-size: 12px;
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#footer > .row .col-xs-3 {
	padding: 0;
}

#footer > .row .col-xs-3.app_icon img {
	float: left;
	margin-right: 20px;	
}

#footer > .row .col-xs-3.app_icon h6 {
	color: #008b83;
	font-size: 18px;
	margin-top: 0;
}

#footer > .row .col-xs-3.app_icon a:hover {
	text-decoration: none;
}

#footer > .row .col-xs-3.app_icon a p {
	color: #555;
}

.copyright {
	padding: 0;
	color: #555;
	font-size: 13px;
}

/********************************************

Login Page

********************************************/

.login_logo {
	text-align: center;
	margin: 15px 0 20px;
}

.login_logo img {
	width: 45%;
}

.login_controls .form-control {
	border-radius: 3px;
	padding: 10px 12px 10px 40px;
	height: auto;
	font-size: 16px;
	color: #999;
}

.login_controls .form-control:focus {
	border: 1px solid #999;
	box-shadow: none;
	-webkit-box-shadow: none;
}

.form_control_input {
	position: relative;
	margin-bottom: 10px;
}

.form_control_input .fa {
	position: absolute;
	top: 15px;
	left: 10px;
}

/********************************************

Home Page

********************************************/

#home {
	background: url('../image/home_bg.png');
}

#home #header {
	padding: 10px 0;
}

#home .navbar-brand {
	height: auto;
	padding-left: 0;
}

#home .navbar-nav > li > a {
	font-size: 16px;
	color: #008b83;
}

.main_menu {
	padding-right: 0;
}

/********************************************

Banner Contents

********************************************/

#banner .col-xs-12 {
	position: relative;
}

.ribbon {
	position: absolute;
	right: 35px;
	top: -2px;
	z-index: 9999;
}

.ribbon p {
	color: #FFF;
	font-size: 16px;
}

.ribbon img {
	margin-left: 20px;
}

.bannerForm {
	position: absolute;
	bottom: 40px;
	left: 40px;
	color: #FFF;
	text-shadow: 0px 0px 7px #444444;
}

.bannerForm h3 {
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 0;
}

.bannerForm p {
	font-family: 'neosans';
	font-size: 21px;
	letter-spacing: -0.02em;
}

.bannerForm [class*=col-] {
	padding: 0;
}

.bannerForm .col-xs-9 {
	padding-right: 5px;
}

.bannerForm .form-group {
	padding-top: 5px;
	margin: 0;
	display: inline-block;
}

.bannerForm input, .bannerForm .form-control {
	padding: 23px 12px;
	box-shadow: none;
	-webkit-box-shadow: none;
	border: 0;
	font-size: 15px;
	border-radius: 3px;
}

.bannerForm input[type="submit"], #banner .btn.btn-primary, .btn-orange {
	/*padding: 23px 0;*/
	padding: 0;
	/*line-height: 0;*/
	line-height: 46px;
	font-size: 19px !important;
	font-weight: bold;
	background: #ff7b54;
	border: 0;
	color: #FFF;
	text-shadow: 1px 1px 0px #cf6344;
	height: 46px;
}

/********************************************

Static Page Content Styles

********************************************/

#contentContainer {
	text-align: center;
}

#contentContainer .col-xs-12 {
	border: 1px solid #bac1c2;
	border-bottom: 0;
	border-top: 0;
	background: #FFF;
}

#contentContainer .col-xs-12:last-child {
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom: 1px solid #bac1c2;
}

#contentContainer .mainContentContainer {
	padding: 45px 0;
}

#contentContainer .col-xs-4 {
	padding: 0 20px;
}

#contentContainer .col-xs-4 p {
	padding: 20px 0 10px;
	font-family: 'neosans';
	font-weight: bold;
	font-size: 16px;
}

#contentContainer .btn-primary {
	background: #008b83;
	border: 0;
	text-shadow: 1px 1px 0px #007268;
	font-size: 17px;
	font-weight: bold;
}

/********************************************

Static Footer Style

********************************************/

#staticFooter {
	padding-top: 65px;
}

#staticFooter .row {
	border-top: 1px solid #bac1c2;
	background: #e3e3e3;
	margin: 0;
}

#staticFooter .col-xs-9 {
	padding: 0;
}

#staticFooter .col-xs-9 {
	padding: 0;
}

#staticFooter .col-xs-2 {
	padding-right: 0;
}

#staticFooter .nav.navbar-nav {
	float: left;
	border-right: 1px solid #b5b5b5;
	padding: 10px 0;
}

#staticFooter .navbar-nav:first-child {
	margin-right: 15px !important;
}

#staticFooter .navbar-nav > li > a {
	font-weight: 600;
	color: #545454;
	font-size: 14px;
}

#staticFooter .navbar-nav > li {
	margin: 0;
	margin-right: 15px;
}

.downloadAppIcon {
	margin-top: 8px;
	line-height: 33px;
	text-align: right;
	font-weight: 600;
}

.downloadAppIcon a {
	margin-left: 30px;
}

.downloadAppIcon img {
	float: right;
}

.footRow2 {
	text-align: right;
	padding: 13px;
	line-height: 21px;
}

.footRow2 p {
	margin: 0;
	font-weight: 600;
}

.footRow2 span {
	margin-left: 10px;
}

.footRow2 a {
	margin-left: 5px;
}

/********************************************

Become JobRabbit Page

********************************************/

.bannerSlider img {
	width: 100%;
	border: 1px solid #bac1c2;
}

#contentContainer .cityLocations {
	padding: 20px 0;
	background: #daf6f4;
}

.cityLocations p, .cityLocations a {
	margin: 0;
	font-family: 'neosans';
	font-size: 20px;
	color: #464e4f;
	line-height: 36px;
}

.cityLocations p, .cityLocations a, .cityLocations ul {
	float: left;
	text-decoration: none;
}

.cityLocations ul {
	padding: 0;
	margin: 0 45px;
}

.cityLocations a {
	color: #008b83;
	line-height: 30px;
	padding-top: 8px;
}

.cityLocations a:hover {
	color: #0e615c;
}

.cityLocations li {
	display: inline-block;
	margin: 0 15px;
}

.cityLocations p {
	line-height: 44px;
}

.cityLocations a.btn {
	line-height: 35px;
	font-size: 16px;
	padding: 2px 20px;
}

.contentBlockMain span {
	display: block;
	font-family: 'Arial', sans-serif;
	font-weight: bold;
	padding-bottom: 5px;
}

.contentBlockMain p {
	color: #545454;
	font-weight: lighter;
}

.mainContentContainer h4, .howWorksContainer h4{
	margin-left: 40px;
	text-align: left;
	font-family: 'neosans';
	font-weight: lighter;
	margin-bottom: 20px;
	font-size: 19px;
}

.horizontalLineFull {
	width: 100%;
	height: 1px;
	background: #bac1c2;
	margin: 0;
	border: 0;
	clear: both;
}

#contentContainer .videoContentBlock {
	background: #ffffff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2FmZWNlOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhZmVjZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 50%, #afece8 51%, #afece8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#ffffff), color-stop(51%,#afece8), color-stop(100%,#afece8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 50%,#afece8 51%,#afece8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#ffffff 50%,#afece8 51%,#afece8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#ffffff 50%,#afece8 51%,#afece8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 50%,#afece8 51%,#afece8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#afece8',GradientType=0 ); /* IE6-8 */
}

.contentBlockMain h5 {
	color: #a7afb0;
	font-family: 'Comfortaa', cursive;
	font-size: 32px;
	font-weight: 300;
	text-align: left;
	padding-left: 30px;
	line-height: 41px;
}

.contentBlockMain h5 b {
	color: #008b83;
}

.videoContainer {
	width: 640px;
	height: 304px;
	background: url('../image/iphone.png') no-repeat;
	text-align: left;
}

.videoContainer iframe {
	margin-left: 88px;
	margin-top: 23px;
}

/********************************************

How it works Page

********************************************/

#contentContainer.main-wrapper {
	text-align: left;
}

#contentContainer .howWorksContainer {
	padding: 20px 0 0;
}

.howWorksContainer h4 {
	margin-left: 25px;
}

.howWorksContainer .contentBlockMain img {
	float: left;
	padding: 0 20px;
}

.howWorksContainer .contentBlockMain p,
.howWorksContainer .contentBlockMain p span {
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
	font-size: 18px;
	letter-spacing: -0.02em;
}

.howWorksContainer .contentBlockMain p {
	margin-top: 10px;
	font-weight: 300 !important;
}

.howWorksContainer .contentBlockMain p span {
	font-weight: 500 !important;
	color: #363636;
}

.paddl20 {
	padding: 0 0 0 20px !important;
}

.howWorksContainer .contentBlockMain {
	margin-bottom: 40px;
}

.howWorksContainer {
	position: relative;
}

.howWorksContainer .floatingImg {
	position: absolute;
	top: -150px;
}

#contentContainer .howWorksContainer.fullWidth {
	padding-top: 40px;
}

.pricing {
	background: url('../image/vegetables.jpg') #FFF no-repeat !important;
	background-position: 350px bottom !important;
}

/********************************************

Registration Page

********************************************/

.signupIntro * {
	font-size: 20px;
	text-align: center;
	float: none;
	display: block;
	margin-bottom: 20px;
}

.signupIntro a:hover, .signupIntro a:focus, 
.LoginLink a:hover, .LoginLink a:focus {
	text-decoration: none;
	color: #428bca;
}

.btn-orange {
	padding: 0px 20px !important;
	border: 1px solid #d05020;
	color: #FFF !important;
	height: 46px !important;
	line-height: 46px !important;
}

.btn-facebook, .btn-twitter {
	text-decoration: none;
	padding: 0px 20px !important;
	color: #FFF !important;
	text-align: center;
	font-size: 19px !important;
	font-weight: bold;
	margin-bottom: 10px;
	height: 46px !important;
	line-height: 46px !important;
}

.btn-facebook:hover, .btn-twitter:hover {
	text-decoration: none;
}

.btn-facebook, .btn-facebook:focus{
	background: #3b5998;
	border: 1px solid #2b4a8c;
}

.btn-twitter, .btn-twitter:focus{
	background: #33ccff;
	border: 1px solid #1eb7ea;
}

.orText {
	font-weight: bold;
	text-align: center;
	display: block;
	margin-bottom: 10px;
}

.LoginLink * {
	font-size: 20px;
	text-align: center;
}

/********************************************

Post a Task Page

********************************************/

.task-form-container {
	padding: 20px 25px;
	border: 1px solid #A8E0F1;
	border-radius: 5px;
}

.container .task-form-container h2 {
	text-align: left;
	margin: 0 0 12px 0;
	font-weight: bold;
}

.task-form-container .col-xs-8 {
	padding-left: 0;
}

.task-form-container .form-control {
	margin-bottom: 20px;
	padding: 10px 12px;
	box-shadow: none;
}

.task-form-container input[type="text"].form-control {
	height: auto;
}

.task-form-container .form-control:focus {
	border: 1px solid #999;
}

.task-form-container textarea.form-control {
	padding: 8px 12px;
	max-width: 100%;
}

.task-form-container .col-xs-6 {
	padding: 0;
	position: relative;
}

.task-form-container .form_control_input .fa {
	left: auto;
	top: 12px;
	right: 10px;
}

.task-form-container .paddl10 {
	padding-left: 10px;
}

.extra-toggle a {
	font-weight: bold;
}

.extra-toggle a:hover {
	text-decoration: none;
	color: #428bca;
}

.private {
	list-style: none;
}

.private input[type="checkbox"] {
	margin-top: 4px;
	float: left;
	margin-right: 8px;
}

.taskStatesCheckbox {
	padding: 0;
	margin-top: 10px;
}

.task-form-container h4 {
	margin-bottom: 20px;
	font-weight: 500;
	font-size: 18px;
	margin-top: 25px;
}

.radio_button {
	background: #F1F1F1;
	margin-bottom: 10px;
	margin-left: 5px;
	padding: 5px 10px;
	cursor: pointer;
	border-radius: 3px;
	border: 1px solid #CEDDDC;
}

.radio_button:hover {
	background: #D1F5F2;
}

.radio_button.selected, .radio_button.selected:hover {
	background: #79d5d0;
	cursor: default;
}

.radio_button b, .radio_button p {
	margin-bottom:0;
	font-weight: 600;
}

.radio_button b {
	font-weight: normal;
	color: #008b83;
}

.radio_button b .fa {
	color: #008b83;
	font-weight: bold;
}

.radio_button input[type="radio"] {
	float: left;
	margin: 15px 15px 15px 10px;
}

.radio_button label {
	cursor: pointer;
}

.radio_button.selected label {
	cursor: default;
}

.radio_button .named_price {
	display: none;
	margin-top:5px;
}

.radio_button.selected .named_price {
	display:block;
}

.priceIncre {
	width: 80px;
	padding: 5px 10px;
}

.acceptTerms {
	margin-top: 20px;
	text-align: center;
}

.acceptTerms a:hover {
	text-decoration: none;
}

.otherSidebar {
	width: 289px;
	float: right;
	background: #f3f2f0;
	border-radius: 3px;
}

.otherSidebar ul {
	padding: 0;
}

.otherSidebar ul li {
	list-style: none;
	font-size: 12px;
	margin-bottom: 25px;
}

.otherSidebar ul li img {
	max-width: 50px;
	border: 2px solid #c2c2c2;
	border-radius: 100px;
	float: left;
	margin-right: 10px;
}

.otherSidebar h4 {
	color: #028cba;
}

/********************************************

Directory Listing

********************************************/

.directoryList {
	text-align: left;
}

.directoryList h4 {
	font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
	font-weight: normal;
}

.cityListing {
	padding: 0;
	display: inline-block;
}

.cityListing li {
	display: inline-block;
	float: left;
	text-align: center;
	padding: 12px 5px 15px;
	width: 124px;
	font-weight: normal;
	letter-spacing: -0.02em;
}

.cityListing li a {
	display: block;
	text-decoration: none !important;
}

.cityListing li p {
	font-weight: normal;
	font-size: 18px;
	font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}

.cityListing li img {
	border-radius: 36px;
	width: 72px;
	height: 72px;
	margin-bottom: 5px;
}

#contentContainer .col-xs-12.contentBlockMain {
	border: 0;
	padding: 0px 70px;
}

.cityListing li.grayscale * {
	filter: url("data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'><filter%20id='grayscale'><feColorMatrix%20type='matrix'%20values='0.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200%200%200%201%200'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%); 
	-o-filter: grayscale(100%);
	filter: gray;
}

/********************************************

City's Job Listing

********************************************/

.container .cityTasks h2 {
	text-align: left;
	margin-bottom: 10px;
}

#footer.smallFooter > .row {
	background: none;
	padding-top: 0;
}

#footer.smallFooter > .row .col-md-10 {
	background: url('../image/footer_bg.png') repeat-x;
	padding-top: 30px;
}

.navBanner {
	background: #f9f6ed;
	padding: 0;
	border: 1px solid #CCC;
	border-radius: 10px;
	border-top-right-radius: 0;
	box-shadow: 0 3px 2px rgba(0,0,0,0.14);
	-moz-box-shadow: 0 3px 2px rgba(0,0,0,0.14);
	-webkit-box-shadow: 0 3px 2px rgba(0,0,0,0.14);
}

.cityTasks ul {
	padding: 0;
}

.cityTasks ul li {
	list-style: none;
}

.cityTasks ul.breadCumb li {
	display: inline-block;
	font-weight: 600;
}

.cityTasks ul.breadCumb li:after {
	content: '»';
	margin: 0 5px;
}

.cityTasks ul.breadCumb li:last-child:after {
	display: none;
}

.cityTasks ul.browseTasks li ul {
	display: none;
}

.cityTasks ul.browseTasks li {
	width: 100%;
	position: relative;
}

.cityTasks ul.browseTasks > li > a {
	background: url('../image/browse-tasks-arrow.png') no-repeat 200px 9px;
}

.cityTasks ul.browseTasks li:hover {
	background: #FFF;
}

.cityTasks ul li:hover a {
	background: #FFF;
}

.cityTasks ul.browseTasks > li:hover > a:after {
	position: absolute;
	content: '';
	width: 10px;
	height: 28px;
	background: #FFF;
	right: -3px;
	top: 1px;
	z-index: 999;
}

.cityTasks ul.browseTasks li a {
	display: block;
	color: #2a6496 !important;
	text-decoration: none;
	font-weight: bold;
	padding: 5px 20px;
	border-top: 1px solid #e0e0e0;
}

.cityTasks ul.browseTasks li ul {
	position: absolute;
	background: #FFF;
	left: 228px;
	top: 0px;
	z-index: 997;
}

.cityTasks ul.browseTasks li:hover ul {
	display: block;
}

.cityTasks ul.browseTasks li ul li {
	width: 250px;
}

.cityTasks ul.browseTasks li ul li a:hover {
	text-decoration: underline;
}

.browseTasks {
	margin-top: 40px;
}

.cityTasks ul.browseTasks > li:hover > a {
	padding: 5px 20px 3px 18px;
	border-bottom: 2px solid #CCC;
	border-left: 2px solid #CCC;
}

.cityTasks ul.browseTasks li ul {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-right: 1px solid #CCC;
	border-left: 3px solid #CCC;
	border-bottom: 3px solid #CCC;
}

.cityTasks ul.browseTasks li ul li:first-child,
.cityTasks ul.browseTasks li ul li:first-child a {
	border-top-right-radius: 10px;
}

.cityTasks ul.browseTasks li ul li:last-child,
.cityTasks ul.browseTasks li ul li:last-child a {
	border-bottom-right-radius: 10px;
}

.cityTasks ul.browseTasks > li:last-child a {
	color: #98a4b2 !important;
	background: none;
}

.cityTasks ul.browseTasks > li:last-child:hover {
	background: none;
}

.cityTasks ul.browseTasks > li:last-child:hover a {
	background: none;
	padding: 5px 20px;
	border-left: 0;
	border-bottom: 0;
	color: #2A6496 !important;
}

.cityTasks ul.browseTasks > li:last-child:hover a:after {
	display: none;
}

.cityTasks .title {
	position: absolute;
	top: -9px;
	left: -20px;
	font-size: 14px;
	line-height: 34px;
	height: 29px;
	width: 162px;
	font-weight: bold;
	text-transform: uppercase;
	color: #1A4969;
	background: url('../image/browse-tasks-title-bg.png') no-repeat;
	padding: 0 25px;
}

.cityTasks .slideBanner {
	padding: 0;
	position: relative;
}

.cityTasks .slideBanner img {
	border-bottom-right-radius: 10px;
	width: 100%;
}

.cityTasks .slideBanner .userInfos {
	position: absolute;
	bottom: -5px;
	left: 0;
	text-align: center;
}

.userInfos ul {
	padding: 0;
	background: #a1c7d6;
	display: inline-block;
	margin: 0;
	border-bottom-right-radius: 10px;
	width: 100%;
}

.userInfos ul li {
	display: inline-block;
	width: 130px;
	font-size: 16px;
	padding: 15px 20px;
	color: #FFF;
	float: left;
	border-right: 2px solid #7FA4B3;
	border-left: 2px solid #B2CFDB;
	text-align: left;
	position: relative;
}

.userInfos ul li:first-child {
	border-left: 0;
	width: 279px;
	font-weight: bold;
	text-align: right;
}

.userInfos ul li:first-child:before {
	content: '';
	display: block;
	position: absolute;
	background: url('../image/background-checked.png') repeat-x;
	width: 93px;
	height: 57px;
	top: -5px;
	left: 0;
}

.userInfos ul li:last-child {
	border-right: 0;
	width: 279px;
	border-bottom-right-radius: 10px;
	text-align: center;
	padding: 15px 45px;
}

.userInfos h4 {
	position: relative;
	top: 15px;
	display: inline-block;
	color: #20557B;
	font-weight: bold;
	font-size: 24px;
	background: url('../image/name-ribbon-bg.png') repeat-x;
	line-height: 39px;
	padding: 0 45px 3px;
	z-index: 99;
}

.userInfos h4:before, .userInfos h4:after {
	position: absolute;
	width: 89px;
	height: 49px;
	content: '';
	background: url('../image/name-ribbon-left.png') no-repeat;
}

.userInfos h4:after {
	background: url('../image/name-ribbon-right.png') no-repeat;
	right: -89px;
}

.userInfos h4:before {
	left: -89px;
}

.userInfos .level {
	width: 21px;
	height: 21px;
	text-align: center;
	color: #000;
	font-size: 13px;
	font-weight: bold;
	border-radius: 250px;
	border: 1px solid #4A4335;
	display: inline-block;
	margin-right: 10px;
	background: #f2b63d;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #f2b63d 0%, #e49b0d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2b63d), color-stop(100%,#e49b0d));
	background: -webkit-linear-gradient(top, #f2b63d 0%,#e49b0d 100%);
	background: -o-linear-gradient(top, #f2b63d 0%,#e49b0d 100%);
	background: -ms-linear-gradient(top, #f2b63d 0%,#e49b0d 100%);
	background: linear-gradient(to bottom, #f2b63d 0%,#e49b0d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2b63d', endColorstr='#e49b0d',GradientType=0 );
	box-shadow: 0px 2px 3px #666666;
	line-height: 19px;
}

.userInfos .star {
	width: 100px;
	height: 22px;
	background: url('../image/star-rating.png') no-repeat center bottom;
	display: inline-block;
	float: left;
	margin-right: 5px;
}

.tasksLink {
	position: absolute;
	top: -41px;
	right: -1px;
	padding: 0px 35px 0 120px;
	background: #a1c7d6;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border: 1px solid #CCC;
	border-bottom: 0;
}

.tasksLink a {
	text-decoration: none;
	padding: 10px 0;
	display: block;
	color: #462815;
	font-weight: bold;
}

.tasksLink a .price {
	color: #245682;
}

.tasksLink .taskIcon {
	max-width: 94px;
	max-height: 94px;
	position: absolute;
	left: 5px;
	top: -30px;
}

.btn .fa-facebook-square {
	margin-right: 5px;
	color: #3b5998;
	font-size: 20px;
	line-height: 20px;
	float: left;
}

.getStarted {
	text-align: center;
	padding: 30px 15px;
}

.getStarted h4 {
	font-family: "Omnes-Medium",Helvetica,Arial,sans-serif;
	color: #456785;
	font-size: 24px;
}

.getStarted .btn-default, .getStrated .btn-default:hover, .getStrated .btn-default:focus {
	color: #3b5998;
	background-color: #f5f5f5 !important;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6) !important;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6)) !important;
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6) !important;
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6) !important;
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6) !important;
	background-repeat: repeat-x;
	border: 1px solid #cccccc;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-bottom-color: #b3b3b3;
}

.getStarted .btn-success {
	margin-left: 15px;
}

.getStarted .list-inline * {
	font-weight: bold;
}

.secondaryBlock img {
	max-width: 105px;
	max-height: 105px;
	float: left;
	margin-right: 15px;
}

.secondaryBlock h5 {
	color: #456785;
	font-weight: bold;
	font-size: 15px;
	margin-top: 0;
}

.secondaryBlock p {
	font-size: 12px;
	font-weight: bold;
}

.featuredIn h4 {
	font-family: "Omnes-Medium",Helvetica,Arial,sans-serif;
	color: #456785;
	font-size: 21px;
	margin-top: 50px;
	position: relative;
}

.featuredIn h4:after {
	content: '';
	height:21px;
	width: 850px;
	position: absolute;
	top: 2px;
	right: 0;
	background: url('../image/footer_bg.png') repeat-x;
	background-position: 350px center;
}

#content.paddB20 {
	padding-bottom: 20px;
}

.featuredIn img {
	width: 100%;
	padding: 20px 0;
}

/********************************************

Vertical Carousel

********************************************/

.vertical .carousel-inner {
	height: 100%;
}

.carousel.vertical .item {
	-webkit-transition: 0.6s ease-in-out top;
	-moz-transition: 0.6s ease-in-out top;
	-ms-transition: 0.6s ease-in-out top;
	-o-transition: 0.6s ease-in-out top;
	transition: 0.6s ease-in-out top;
}

.carousel.vertical .active {
	top: 0;
}

.carousel.vertical .next {
	top: 100px;
}

.carousel.vertical .prev {
	top: -100px;
}

.carousel.vertical .next.left,
.carousel.vertical .prev.right {
	top: 0;
}

.carousel.vertical .active.left {
	top: -100px;
}

.carousel.vertical .active.right {
	top: 100px;
}

.carousel.vertical .item {
	left: 0;
	border: 1px solid #f0a900;
	padding: 10px;
	border-radius: 5px;
}

.carousel.vertical .item img {
	max-width: 50px;
	max-height: 50px;
}

.carousel-control {
	width: 20px;
	height: 20px;
	background: none !important;
	color: #000;
	top: 85px;
	left: auto !important;
	right: auto !important;
	font-size: 18px;
	border-radius: 10px;
}

.carousel-control.left {
	margin-left: 115px;
	background: url('../image/carousel-prev.png') no-repeat !important;
	background-size: cover !important;
	opacity: 1 !important;
	text-indent: -9999px;
}

.carousel-control.right {
	margin-left: 145px;
	background: url('../image/carousel-next.png') no-repeat !important;
	background-size: cover !important;
	opacity: 1 !important;
	text-indent: -9999px;
}

.carousel-inner * {
	text-align: left !important;
}

.head {
	color: #d6d4ce;
	font-weight: bold !important;
	font-size: 13px !important;
}

.head .price {
	color: #456785;
}

/********************************************

Tasks Page

********************************************/

#map-canvas {
	width: 100%;
	height: 250px;
}

.taskListContainer {
	box-shadow: -5px 0px 0px #f7f7f7, 5px 0px 0px #f7f7f7;
	-moz-box-shadow: -5px 0px 0px #f7f7f7, 5px 0px 0px #f7f7f7;
	-webkit-box-shadow: -5px 0px 0px #f7f7f7, 5px 0px 0px #f7f7f7;
	padding:0;
	border-left: 1px solid #e3e3e3;
	border-right: 1px solid #e3e3e3;
}

.categoryContainer {
	padding: 20px 20px 30px;
	background: url('../image/category-bg.png');
	position: relative;
}

.categoryContainer:after {
	left: 0;
	right: 0;
	height: 12px;
	content: '';
	background: url('../image/category-border.png');
	position: absolute;
	bottom: 0;
}

.categoryCarousel {
	max-height: 90px;
	border-bottom: 1px solid #E6E6E6;
	position: relative;
}

.prev-page, .next-page {
	position: absolute;
	top: 50%;
	margin-top: -10px;
	text-indent: -9999px;
	width: 0px;
	height: 0px;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
}

.prev-page {
	border-right: 10px solid #d8d8d8;
	left: -13px;
}

.next-page {
	border-left: 10px solid #d8d8d8;
	right: -13px;
}

.slider { 
	overflow:hidden; 
	position:relative; 
}

.slider ul { 
	margin:0; 
	padding:0; 
}

.slider li { 
	float:left; 
	margin:0 25px 0 0; 
	list-style:none; 
}

/* IE6 issues */
.slider ul { 
	width:100%; 
}

.slider a img {
	max-width: 50px;
	max-height: 50px;
	float: left;
	margin-right: 5px;
}

.slider a {
	display: inline-block;
	line-height: 50px;
	font-weight: bold;
	padding: 20px 0;
	color: #2a6496;
	text-decoration: none !important;
	font-size: 14px;
	letter-spacing: -0.02em;
	float: left;
}

#categoryTrigger {
	position: relative;
	color: #71594A;
	font-weight: bold;
	font-size: 13px;
	text-decoration: none !important;
}

#categoryTrigger:after {
	border-top: 5px solid #71594A;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	content: '';
	width: 0;
	height: 0;
	position: absolute;
	right: -15px;
	top: 50%;
	margin-top: -2px;
}

.viewAllCat {
	color: #06c;
	font-size: 13px;
}

.taskTitle {
	color: #426786;
	font-size: 18px;
	margin-bottom: 5px;
	font-weight: 600;
}

.categoryContainer .list-inline a {
	color: #06C !important;
}

.container .recentExapmles > h2 {
	padding: 0 20px;
	margin: 30px 0 15px;
	text-align: left;
	font-size: 18px;
	color: #426786;
}

.container .recentExapmles ul {
	padding: 0;
}

.container .recentExapmles ul li {
	list-style: none;
	padding: 10px 20px ;
	border-bottom: 1px solid #d8d8d8;
}

.container .recentExapmles ul li:last-child {
	border-bottom: 0px solid #d8d8d8;
}

.container .recentExapmles ul li:hover {
	background: rgb(247, 238, 210);
}

.container .recentExapmles ul li img {
	float: left;
	width: 50px;
	height: 50px;
	border-radius: 5px;
	margin-right: 10px;
}

.eventContent {
	margin-left: 60px;
}

.eventContent h3 {
	margin: 0;
	margin-bottom: 5px;
}

.eventContent p {
	margin-bottom: 5px;
	color: #462815;
	font-size: 13px;
}

.eventContent h3 a {
	font-size: 16px;
	color: #06c;
	font-weight: bold;
}

.starRating {
	width: 125px;
	height: 15px;
	display: inline-block;
	background: url('../image/star-rating.png') left center no-repeat;
	float: left;
}

.priceEstimate {
	font-style: italic;
	font-family: serif;
	color: #462815;
}

.estimatedPrice {
	font-style: normal;
	color: #E16302;
}

.otherSidebar2 {
	width: 310px;
	float: right;
	border-radius: 3px;
}

.joinJobRabbit {
	padding: 10px 0 10px 80px;
	font-size: 12px;
	font-weight: bold;
	color: #426786;
	text-align: center;
	background: url('../image/join-rabbit-home-icon.png') no-repeat 10px 30px;
}

.joinJobRabbit  .btn {
	margin-top: 10px;
}

.nearbyTasks {
	padding: 20px 10px;
}

.nearbyTasks h5 {
	font-size: 16px;
	color: #456785;
}

.nearbyTasks ul {
	padding: 0;
	display: inline-block;
	width: 100%;
}

.nearbyTasks ul li {
	list-style: none;
	font-size: 12px;
	font-weight: bold;
	width: 50%;
	display: inline-block;
	float: left;
}

.nearbyTasks ul li a {
	font-size: 12px;
	font-weight: bold;
	color: #06C !important;
}

.paginationLinks {
	padding: 10px 20px 50px;
	font-size: 12px;
	color: #462815;
	font-style: italic;
	font-weight: bold;
}

.paginationLinks b {
	font-weight: bolder;
}

/********************************************

Favourites Page

********************************************/

.col-xs-3 li {
	list-style: none;
}

.primaryLink, .secondaryLink {
	padding: 0;
}

.leftNav {
	padding-left: 0;
}

.primaryLink li , .secondaryLink li {
	background: #f3f2f0;
}

.primaryLink li a , .secondaryLink li a {
	display: block;
	text-decoration: none !important;
	padding: 5px 15px;
	color: #000;
}

.primaryLink li a {
	font-size: 18px;
	font-weight: bold;
}

.primaryLink li.active {
	background: #006332;
}

.primaryLink li:hover, .secondaryLink li:hover {
	background: #acd199;
}

.primaryLink li.active a {
	color: #FFF;
}

.primaryLink li:hover a, .primaryLink li.active:hover a,  .secondaryLink li:hover a {
	color: #006332;
}

.rightContainer h4 {
	color: #028CBA;
	font-size: 30px;
	font-weight: bold;
}

.rightContainer .favouritesContainer {
	background: #fefefe;
	border-bottom: 1px dotted #eaebeb;
	padding: 15px 30px 10px;
	text-align: center;
	font-size: 21px;
	color: #4c4c4c;
}

.rightContainer .favouritesContainer .fa {
	color: #4c4c4c;
	font-size: 48px;
}

/********************************************

Profile Page Styling

********************************************/

.profilePage h3 {
	clear: both;
}

.profileImageHoldr {
	cursor: pointer;
	position: relative;
	width: 220px;
	float: left;
	margin-top: 50px;
}

#uploadTrigger .fa {
	font-size: 16px;
	font-weight: normal;
	color: #FFF;
	width: 42px;
	height: 42px;
	background: #028cba;
	border: 4px solid #F6F6F6;
	border-radius: 300px;
	line-height: 36px;
	text-align: center;
	position: absolute;
	z-index: 9999;
	bottom: 15px;
	left: 170px;
	box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	transition: all 300ms linear;
	opacity: 0;
}

.profileImageHoldr:hover #uploadTrigger .fa {
	box-shadow: 3px 3px 1px rgba(0,0,0,0.3);
	opacity: 1;
}

.profileImageHoldr #profileImage {
	border-radius: 50%;
	border: 8px solid #F6F6F6;
	box-shadow: 4px 4px 1px rgba(0,0,0,0.1);
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	transition: all 300ms linear;
}

.profileImageHoldr:hover #profileImage {
	box-shadow: 4px 4px 1px rgba(0,0,0,0.3);
}

#profileImageInput {
	display: none;
}

.profilePage .left {
	width: 675px;
	float: left;
}

.profilePage .control-label {
	text-align: left;
	font-size: 15px;
}

.profilePage > .row > .col-md-10 {
	background: #FFF;
	border-radius: 3px;
	box-shadow: 4px 4px 0px rgba(0,0,0,0.05);
	border: 1px solid #A8E0F1;
}

.profilePage .login_controls .form-control {
	padding-left: 12px;
}

.profilePage .form-horizontal .control-label {
	padding-top: 12px;
}

.socialLinksLabel {
	font-weight: normal;
}

#mapcanvas {
	width: 100%;
	height: 250px;
	background: url('http://www.digicution.com/wp-content/uploads/2012/06/HTML5-Repsonsive-Google-Maps-Tutorial-1.png') no-repeat center center;
	background-size: cover;
	margin-top: 20px;
	border: 1px solid #CCC;
	border-radius: 3px;
	margin-bottom: 10px;
}

.profilePage input[type="submit"].form-control {
	width: 170px;
	margin: 0 auto 20px;
	float: none;
}

/********************************************

Post Job Page

********************************************/

.whiteContainer {
	background: #FFF;
}

.task-form-container select.form-control {
	height: 42px;
}

.priceHolder, .dateRange, .searchWorker {
	display: none;
	margin-top: 8px;
}

.selected .priceHolder, .selected .dateRange, .selected .searchWorker {
	display: block;
}

.dateRange .form-control, .searchWorker .form-control {
	width: 210px;
	float: left;
	margin-bottom: 0;
	margin-right: 10px;
	margin-top: 3px;
	padding: 5px 10px;
}

.dateRange em {
	text-align: left;
	float: left;
	font-style: normal;
	width: 235px;
} 

/********************************************

Message Notifier

********************************************/

#header .col-md-10 {
	position: relative;
}

#messageDialogue {
	background: rgba(51,51,51,0.9);
	border-radius: 3px;
	width: 250px;
	position: absolute;
	top: 100px;
	right: 20px;
	color: #FFF;
	font-weight: normal;
	z-index: 9999;
	padding: 15px;
	cursor: pointer;
	/*display: none;*/
}

#messageDialogue p {
	margin-bottom: 0;
}

/********************************************

Account Page Sidebar

********************************************/

.accountPage.otherSidebar ul li {
	margin-bottom: 5px;
	font-size: 14px;
	margin-left: 20px;
	text-decoration: none;
	font-weight: bold;
}

.accountPage.otherSidebar ul li a {
	text-decoration: none;
}

.accountPage.otherSidebar ul li:before {
	content: "\00a4";
	padding-right: 8px;
	color: #428bca;
}

/********************************************

Job Listing

********************************************/

.jobEntry h4 a {
	text-decoration: none;
	font-weight: bold;
}

.jobEntry h4 {
	border-bottom: 1px solid #CCC;
	padding-bottom: 15px;
	position: relative;
}

.jobEntry h4:before {
	position: absolute;
	height: 5px;
	width: 50px;
	content: '';
	background: #428bca;
	bottom: 0;
}

.jobEntry .jobOptions {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
}

.jobEntry .jobOptions a {
	text-decoration: none;
	font-weight: bold;
	margin-left: 20px;
}

.task-form-container .jobEntry h4 {
	margin-bottom: 15px;
}

.jobEntry .secondaryInfo{
	padding-left: 0;
}

.jobEntry .secondaryInfo li {
	list-style: none;
	display: inline-block;
	margin-right: 5px;
	background: #F0F0F0;
	padding: 5px 20px 5px 10px;
	font-weight: bold;
	color: #555;
}

.jobEntry .secondaryInfo li .fa {
	color: #428bca;
	margin-right: 5px;
	font-weight: normal;
}

.hourGlass {
	background: url('../image/hour-glass-icon.png') no-repeat center center;
	background-size: contain;
	width: 10px;
	height: 14px;
	display: inline-block;
	margin-top: 4px;
	float: left;
	margin-right: 7px;
}

.jobEntry {
	padding-bottom: 20px;
	position: relative;
}

.jobEntry:last-child {
	padding-bottom: 0px;
}

.jobEntry:hover .jobOptions {
	display: block;
}

.jobEntry .jobOptions .fa {
	color: #428bca;
}

/********************************************

Media Query for desktop

********************************************/

@media (min-width: 768px) {

	#home .nav.navbar-nav {
		margin-top: 30px;
	}

	.navbar-nav>li {
		margin-left: 15px;
	}

	.nav.navbar-nav {
		margin-top: 15px;
	}

	.user_manage .dropdown-menu {
		left: auto;
		right: 0;
	}

	#staticFooter .nav.navbar-nav {
		margin: 0;
	}

}